<ion-view title="Log Miles">
  <ion-content class="padding">
    <h1>Log Miles</h1>

      <img class="logo" src="../img/individual_app_logo.png" alt="" />


        <div class="keep_open">
              <label class="logMiles"><span>Date:</span><input class="logMilesInput" name="date" type="text" placeholder="" autofocus ></label>
              <label class="logMiles"><span>Miles Ran:</span><input class="logMilesInput" name="milesRan" type="text" placeholder=""></label>
            <label class="logMiles"><span>Time:</span><input class="logMilesInput" name="milesRan" type="text" placeholder=""></label>
        </div>
      <a class="submitBtn" href="#/tab/friends"><button class="button button-energized">Submit</button></a>



  </ion-content>
</ion-view>
