<ion-view title="Breakdowns">
  <ion-content>

      <ion-list>


          <a class="submitBtn" ui-sref="tab.day"><button class="button button-energized">Day</button></a>


          <a class="submitBtn" ui-sref="tab.week"><button class="button button-energized">Week</button></a>


          <a class="submitBtn" ui-sref="tab.month"><button class="button button-energized">Month</button></a>



          <a class="submitBtn" ui-sref="tab.year"><button class="button button-energized">Year</button></a>


      </ion-list>

  </ion-content>
</ion-view>
